@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap");
@import 'tailwindcss';

@plugin "@tailwindcss/typography";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';


@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-display: "Inter", system-ui, sans-serif;
    --font-primary: "Urbanist", sans-serif;
    --font-body: "Plus Jakarta Sans", sans-serif;
}


@theme {
  --breakpoint-xlg: 69rem;
}

@theme {
    --animate-low-bounce: low-bounce 8s ease-in-out infinite;

    @keyframes low-bounce {
        0%, 100% {
        transform: translateY(0);
        }
        50% {
        transform: translateY(-20px); /* ubah nilai -20px sesuai tinggi yang kamu mau */
        }
    }
}


@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 35s linear infinite;
}

[x-cloak] { display: none !important; }

.grecaptcha-badge {
    z-index: 9999;
}

.custom-list ul li,
.custom-list ol li,
.custom-list ul li p,
.custom-list ol li p {
  margin: 20px 0 !important;
  line-height: 1.4 !important;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.text-outline {
    color: transparent;
    -webkit-text-stroke: 2px var(--outline-color, #ffffff);
}